@import '@src/components/PageTemplate/PageTemplate.module.scss';

.header {
  background-color: $header-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  .toggle-btn {
    cursor: pointer;
  }
}
