$side-nav-background: #e8e8e8;
$header-background: #e8e8e8;
$footer-background: #e8e8e8;
$contents-background: #f2f2f2;

$mono0: #ffffff;
$mono1: #eeeeee;
$mono2: #dddddd;
$mono3: #cccccc;
$mono4: #bbbbbb;
$mono5: #aaaaaa;
$mono6: #999999;
$mono7: #888888;
$mono8: #777777;
$mono9: #666666;
$mono10: #555555;
$mono11: #444444;
$mono12: #333333;
$mono13: #222222;
$mono14: #111111;
$mono15: #000000;
